// COLOR PALETTE
$clr0: #ffffff;
$clr1: #222222;
$clr2: #8755d2;
$clr3: #666666;
$clr4: #fafafa;
$clr5: rgba(153,153,153,.2);


// LAYOUT
$mainLayoutWide: 1400px;

// LAYOUT BREAKPOINTS
$break-narrow: 650px;
$break-normal: 1200px;
// $break-wide: 1920px;